<!DOCTYPE html>
<html>
  <head>
    {% include "blocks/bootstrap.html" %}
    {% include "blocks/head.html" %}
    <title>Class</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/minigame.css') }}">
    <script src="{{ url_for('static', filename='scripts/minigame.js') }}" defer></script>
  </head>
  <body>
    {% include "blocks/nav.html" %}
    <h1 class="welcome">Homepage</h1>
    <p class="des">No content here, but I added a simple game to keep you busy</p>
    <div id="wrapper">

      <div id ="polje">
        <div id="element"></div>
      </div>

      <div id="gumbi">
        <button class="gumb0" onclick="levo()">levo</button>
        <button class="gumb0 desno" onclick="desno()">desno</button>
        <button class="gumb0 gor" onclick="gor()">gor</button>
        <button class="gumb0" onclick="dol()">dol</button>
      </div>
    </div>
  </body>
</html>
