<!DOCTYPE html>
<html>
  <head>
    {% include "blocks/bootstrap.html" %}
    {% include "blocks/head.html" %}
    <title>Class</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/minigame.css') }}">
    <script src="{{ url_for('static', filename='scripts/minigame.js') }}" defer></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">galgantar.tk</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/database">Database</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">My profile</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link logout-button" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <h1 class="welcome">Homepage</h1>
    <p class="des">No content here, but I added a simple game to keep you busy</p>
    <div id="wrapper">

      <div id ="polje">
        <div id="element"></div>
      </div>

      <div id="gumbi">
        <button class="gumb0" onclick="levo()">levo</button>
        <button class="gumb0 desno" onclick="desno()">desno</button>
        <button class="gumb0 gor" onclick="gor()">gor</button>
        <button class="gumb0" onclick="dol()">dol</button>
      </div>
    </div>
  </body>
</html>
