<!DOCTYPE html>
<html>
  <head>
    {% include "blocks/head.html" %}
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}">
  </head>
  <body>

    <h1 class="login-title">Login: </h1>
    <p style="font-size: 25px; width: 100%; text-align: center"> Test username: "johncena@mail.com" </p>
    <p style="font-size: 25px; width: 100%; text-align: center"> Test password: "password" </p>

    <div class="form-container">
      <form class="main-form" method="POST">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Submit">
      </form>

    {% if error %}
    <span class="error">{{ error }}</span>
    {% endif %}

    </div>

    <p class="register-here">Don't have an account yet? <a href="/register">Register here</a></p>
    <p class="register-here">Forgot your password? <a href="/password">Forgot password</a></p>
  </body>
</html>
