<!DOCTYPE html>
<html>
  <head>
    {% include "blocks/bootstrap.html" %}
    {% include "blocks/head.html" %}
    <title>Add timetable</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}">
    <script src="{{ url_for('static', filename='scripts/profile.js') }}"></script>
  </head>
  <body>
    {% include "blocks/nav.html" %}

    <h1 class="welcome">New chore list</h1>

    <div class="timetable-form-container">
      <form class="timetable-form" method="post">
        <input type="text" name="name" placeholder="Predmet">
        <p>On whitch days the chore must be done?</p>
        <input type="checkbox" name="day" value="mon"><span class="checkbox-des">Mon</span>
        <input type="checkbox" name="day" value="tue"><span class="checkbox-des">Tue</span>
        <input type="checkbox" name="day" value="wed"><span class="checkbox-des">Wed</span>
        <input type="checkbox" name="day" value="thu"><span class="checkbox-des">Thu</span>
        <input type="checkbox" name="day" value="fri"><span class="checkbox-des">Fri</span>

        <input class="add-new p-1" type="submit" value="Submit">
      </form>

      {% if error %}
      <span class="error">{{ error }}</span>
      {% endif %}

    </div>

  </body>
</html>
