<!DOCTYPE html>
<html>
  <head>
    {% include "blocks/head.html" %}
    <title>Reset password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}">
  </head>
  <body>

    <h1 class="login-title">Type in your new password:</h1>
    <p class="register-here">Password reset for an account {{ email }}</p>
    <div class="form-container">
      <form class="main-form" method="POST">
        <input type="password" name="password1" placeholder="New password">
        <input type="password" name="password2" placeholder="Repeat password">
        <input type="submit" value="Submit">
      </form>

      {% if error %}
      <span class="error">{{ error }}</span>
      {% endif %}

    </div>
  </body>
</html>
