<!DOCTYPE html>
<html>
  <head>
    {% include "blocks/bootstrap.html" %}
    {% include "blocks/head.html" %}
    <title>Database</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}">
    <script src="{{ url_for('static', filename='scripts/profile.js') }}"></script>
  </head>
  <body>
    {% include "blocks/nav.html" %}

    <h1 class="welcome">{{ data[0][1] }} {{ data[0][2] }}</h1>

    {% for id, name, surname, hash, email, number, status, confirmed in data %}
      <div class="user-info-div">
        <div class="data-row">

          <span class="tag">Name:</span>
          <p class="datapiece">{{ name }}<button class="change-button" onclick="showForm(0)">change</button></p>
          <form class="change-data" action="/profile" method="post">
            <input type="text" name="name" value="{{ name }}">
            <input type="submit" value="Shrani">
          </form>

          <span class="tag">Surname:</span>
          <p class="datapiece">{{ surname }}<button class="change-button" onclick="showForm(1)">change</button></p>
          <form class="change-data" action="/profile" method="post">
            <input type="text" name="surname" value="{{ surname }}">
            <input type="submit" value="Shrani">
          </form>

          <span class="tag">Telephone:</span>
          <p class="datapiece">{{ number }}<button class="change-button" onclick="showForm(2)">change</button></p>
          <form class="change-data" action="/profile" method="post">
            <input type="text" name="number" value="{{ number }}">
            <input type="submit" value="Shrani">
          </form>

          <span class="tag">Email:</span>
          <p class="datapiece email-datapiece">{{ email }}</p>
          {% if not confirmed %}
          <p class="unconfirmed">Email not confirmed, click <a href="/resend">here</a> to resend confirmation code</p>
          {% endif %}

          {% if error %}
          <p class="profile-error">{{ error }}</p>
          {% endif %}
        </div>

        <div class="change-password-row">
          <h5 class="change-password-title">Change password:</h5>
          <form class="new-password-form" action="/profile" method="post">
            <input type="password" name="password1" placeholder="Password">
            <input type="password" name="password2" placeholder="Repeat password">
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    {% endfor %}
  </body>
</html>
