<!DOCTYPE html>
<html>
  <head>
    {% include "blocks/bootstrap.html" %}
    {% include "blocks/head.html" %}
    <title>Database</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}">
    <script src="{{ url_for('static', filename='scripts/profile.js') }}"></script>
  </head>
  <body>
    {% include "blocks/nav.html" %}
    <h1 class="welcome">{{ name }}</h1>

    {% for weekday, date, names in data %}

    <div class="date">
      <p class="date-weekday">{{ weekday }}.</p> <p class="date-date">{{ date }}</p>

      {% for name in names %}
      <span class="date-name">{{ name }}</span>
      {% endfor %}

      {% if date == myDate %}
      <div class="date-input background-remove" title="Remove me from this date">
        <form class="date-form" method="post">
          <input type="text" name="remove-date" value="{{ date }}">
          <input type="submit" value="">
        </form>
      </div>
      {% else %}
      <div class="date-input background-add" title="Add me to this date">
        <form class="date-form" method="post">
          <input type="text" name="add-date" value="{{ date }}">
          <input type="submit" value="">
        </form>
      </div>
    {% endif %}
    </div>
    {% endfor %}

  {% if error %}
  <script>alert('{{ error }}')</script>
  {% endif %}
  </body>
</html>
