<!DOCTYPE html>
<html>
  <head>
    {% include "blocks/bootstrap.html" %}
    {% include "blocks/head.html" %}
    <title>Database</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}">
    <script src="{{ url_for('static', filename='scripts/profile.js') }}"></script>
  </head>
  <body>
    {% include "blocks/nav.html" %}

    <h1 class="welcome">Vsi seznami</h1>
    <a class="add-new" href="/timetables/new">Dodaj seznam</a>
    {% for name, creator_name, creator_surname in data %}
    <a class="wrap-link" href="/timetable/{{ name }}">
      <div class="timetable-section">
        <p class="timetable-name">{{ name }}</p>
        <span class="timetable-creator">Created by: <b>{{ creator_name }} {{ creator_surname }}</b></span>
      </div>
    </a>
    {% endfor %}
  </body>
</html>
