<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand noselect">galgantar.tk</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Domov</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/timetables">Seznami</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mydates">Moji datumi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/database">Uporabniki</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Moj profil</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link logout-button" href="/logout" title="Logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
