<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>

    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='styles/custom.css') }} "
  </head>
  <body>
    <h1>Register: </h1>

    <form method="POST">
      <input type="text" name="name" placeholder="Ime">
      <input type="text" name="surname" placeholder="Priimek">
      <input type="email" name="email" placeholder="Email">
      <input type="tel" name="number" placeholder="Številka">
      <input type="password" name="password" placeholder="Password">
      <input type="password" name="password2" placeholder="Repeat password">
      <input type="submit" value="Submit">
    </form>
    {% if error %}
    <span>{{ error }}</span>
    {% endif %}

    <h6>Already have an account? <a href="/razred/login">Login here</a>
  </body>
</html>
