@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
body {
  height: 100%;
  width: 100%;
  font-family: inherit;
  overflow-x: hidden;
  overflow-y: scroll;
}
form input:not([type="submit"]):focus {
  outline: none;
}
