* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  font-family: "Courier";
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  height: 100%;
  width: 100%;
  font-family: inherit;
}
